<div class="navbar-wagon-item">
  <div class="dropdown navbar-wagon-link navbar-wagon-item ">
    <% if current_user.notifications.where(read: false).any? %>
      <div class="dropdown-toggle notification-present" id= 'dropdownMenu1' data-toggle='dropdown' aria-haspopup= true, aria-expanded=true >
        <i class="fas fa-globe"></i>
        <%= current_user.notifications.where(read: false).count %>
      </div>
    <% else %>
      <div class="dropdown-toggle" id= 'dropdownMenu1' data-toggle='dropdown' aria-haspopup= true, aria-expanded=true >
        <i class="fas fa-globe"></i>
        <%= current_user.notifications.where(read: false).count %>
      </div>
    <% end %>
    <ul class="dropdown-menu notif-dropdown" aria-labelledby='dropdownMenu1'>
      <li class="dropdown-header text-center">Notifications</li>
        <% current_user.notifications.each do |notification| %>
        <% unless notification.read? %>
          <li>
            <% notification_sender = User.find(notification.subscribed_user_id) %>
            <% if notification.notification_type == "message" %>
              <%= link_to "#{notification_sender.first_name} sent you a message", link_through_path(notification) %>
            <% elsif notification.notification_type == "sale" %>
              <%= link_to "#{notification_sender.first_name} bought one of your products", link_through_path(notification) %>
            <% elsif notification.notification_type == "expired"  %>
              <%= link_to "#{notification.product.name} expired, modify its pickup time", link_through_path(notification) %>
            <% else%>
              <%= link_to "Have you picked up #{notification.product.name} from #{notification_sender.first_name}? Please review this transaction", link_through_path(notification) %>
            <% end %>
          </li>
          <% end %>
        <% end %>
    </ul>
  </div>
</div>
