<div class = 'banner products'>
  <div class = dashboard-title>
    Your Dashboard
  </div>
</div>

<div class = 'wrapper-grid'>
  <div class = 'container'>
    <div class = 'row no-gutters'>

      <div class = 'col-sm-6 col-md-4'>
        <div class = 'grid-item' >
          <div class = 'grid-item-description'> <i class="fal fa-smile-wink fa-2x"></i> </div>
          <div class = 'grid-item-value grid-name'> <%= current_user.first_name %>! </div>
        </div>
      </div>
      <div class = 'col-sm-6 col-md-4'>
        <div class = 'grid-item' >
          <div class = 'grid-item-description'> <i class="fal fa-money-bill-alt fa-2x"></i> </div>
          <div class = 'grid-item-value'> <%= current_user.wallet %> € </div>
        </div>
      </div>
      <div class = 'col-sm-6 col-md-4'>
        <div class = 'grid-item' >
          <div class = 'grid-item-description'> <i class="fal fa-trophy-alt fa-2x"></i> </div>
          <div class = 'grid-item-value'> <%= current_user.level %></div>
        </div>
      </div>
      <div class = 'col-sm-6 col-md-4'>
        <div class = 'grid-item' >
          <div class = 'grid-item-description'> Products for sale </div>
          <div class = 'grid-item-value'> <%= current_user.products.size %> </div>
        </div>
      </div>
      <div class = 'col-sm-6 col-md-4'>
        <div class = 'grid-item' >
          <div class = 'grid-item-description'> Products sold </div>
          <div class = 'grid-item-value'> <%= current_user.products.count{ |p| p.sale } %>
          </div>
        </div>
      </div>
      <div class = 'col-sm-6 col-md-4'>
        <div class = 'grid-item' >
          <div class = 'grid-item-description'> Products bought </div>
          <div class = 'grid-item-value'><%=current_user.sales.count%></div>
        </div>
      </div>
      <div class = 'col-sm-12'>
        <div class = 'grid-item grid-item-rating'>
          <div class = 'grid-item-description'> Rating</div>
          <div class = 'grid-item-value'>
            <% current_user.average.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <% (5 - current_user.average).times do %>
              <i class="far fa-star"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% if current_user.sales.any? %>
    <div class = 'dashboard-wrapper-1'>
  <div class="container">
    <div class="row align-items-center">
        <% current_user.sales.each do |sale| %>
          <div class = 'col-xs-12 col-sm-12'>
            <div class = 'card-product-dashboard'>
              <div class = 'col-xs-3 col-sm-3 center'>
                <img src="<%= cl_image_path sale.product.pictures[0].url if sale.product.pictures[0] %>" alt="Picture of Image" class = 'card-product-dashboard-image'>
              </div>
              <div class = 'col-xs-6 col-sm-6'>
                <div><%= sale.product.name %></div>
                <div>Seller: <%= sale.product.user.first_name %></div>
                <div><%= link_to "More Details", product_path(sale.product) %></div>
                <div><%= link_to "Add a review", new_product_sale_review_path(sale.product, sale) %></div>
              </div>
              <div class = 'col-xs-3 col-sm-3 center'>
                <div class = 'card-product-dashboard-price'> <%= sale.product.price %> € </div>
              </div>
            </div>
          </div>
        <%end%>
      <% end %>
    </div>
  </div>
</div>

<% if current_user.products.any? {|p| p.status == "for-sale" || p.status == "expired"} %>
  <div class = 'dashboard-wrapper-2'>
    <div class = 'container'>
      <div class="row">
        <div class = 'dashboard-header-2'>
          Your products for sale
        </div>
        <% current_user.products.each do |product| %>
          <% if product.status == "for-sale" %>
            <div class = 'col-xs-12 col-sm-12'>
              <div class = 'card-product-dashboard white'>
                <div class = 'col-xs-3 col-sm-3 center'>
                  <img src="<%= cl_image_path product.pictures[0].url if product.pictures[0] %>" alt="Picture of Image" class = 'card-product-dashboard-image'>
                </div>
                <div class = 'col-xs-6 col-sm-6'>
                  <div><%= product.name %></div>
                  <div><%= link_to "More Details", product_path(product) %></div>
                </div>
                <div class = 'col-xs-3 col-sm-3 center'>
                  <div class = 'card-product-dashboard-price'> <%= product.price %> € </div>
                </div>
              </div>
            </div>
          <% end %>
          <% if product.status == "expired" %>
            <div class = 'col-xs-12 col-sm-12'>
              <div class = 'card-product-dashboard white'>
                <div class = 'col-xs-3 col-sm-3 center'>
                  <img src="<%= cl_image_path product.pictures[0].url if product.pictures[0] %>" alt="Picture of Image" class = 'card-product-dashboard-image'>
                  <div class="expired"></div>
                </div>

                <div class = 'col-xs-6 col-sm-6'>
                  <div><%= product.name %></div>
                  <div><%= link_to "More Details", product_path(product) %></div>
                </div>
                <div class = 'col-xs-3 col-sm-3 center'>
                  <div class = 'card-product-dashboard-price'> <%= product.price %> € </div>
                </div>
              </div>
            </div>
          <% end %>
        <%end%>
      </div>
    </div>
  </div>
<% end %>

<% if current_user.products.any? {|p| p.status == "pending"} %>
  <div class = 'dashboard-wrapper-1'>
    <div class = 'container'>
      <div class="row">
        <div class = 'dashboard-header-1'>
          Your products to be retreived
        </div>
        <% current_user.products.each do |product| %>
          <% if product.status == "pending" %>
            <div class = 'col-xs-12 col-sm-12'>
              <div class = 'card-product-dashboard'>
                <div class = 'col-xs-3 col-sm-3 center'>
                  <img src="<%= cl_image_path product.pictures[0].url if product.pictures[0] %>" alt="Picture of Image" class = 'card-product-dashboard-image'>
                </div>
                <div class = 'col-xs-6 col-sm-6'>
                  <div><%= product.name %></div>
                  <div> <%= product.sale.user.first_name %></div>
                  <div><%= link_to "More Details", product_path(product) %></div>
                </div>
                <div class = 'col-xs-3 col-sm-3 center'>
                  <div class = 'card-product-dashboard-price'> <%= product.price %> € </div>
                </div>
              </div>
            </div>
          <% end %>
        <%end%>
      </div>
    </div>
  </div>
<% end %>

<% if current_user.products.any? {|p| p.status == "sold"} %>
  <div class = 'dashboard-wrapper-2'>
    <div class = 'container'>
      <div class="row">
        <div class = 'dashboard-header-2'>
          Your products already sold
        </div>
        <% current_user.products.each do |product| %>
          <% if product.status == "sold" %>
            <div class = 'col-xs-12 col-sm-12'>
              <div class = 'card-product-dashboard white'>
                <div class = 'col-xs-3 col-sm-3 center'>
                  <img src="<%= cl_image_path product.pictures[0].url if product.pictures[0] %>" alt="Picture of Image" class = 'card-product-dashboard-image'>
                  <div class="expired"></div>
                </div>

                <div class = 'col-xs-6 col-sm-6'>
                  <div><%= product.name %></div>
                  <div><%= link_to "More Details", product_path(product) %></div>
                </div>
                <div class = 'col-xs-3 col-sm-3 center'>
                  <div class = 'card-product-dashboard-price'> <%= product.price %> € </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
