<div class = 'banner products'>
  <div class = dashboard-title>
    Your Dashboard
  </div>
</div>

<div class = 'wrapper-grid'>
  <div class = 'container'>
    <div class = 'row no-gutters'>

      <div class = 'col-sm-6 col-md-4'>
        <div class = 'grid-item' >
          <div class = 'grid-item-description'> <i class="fas fa-smile fa-2x"></i> </div>
          <div class = 'grid-item-value grid-name'><%= current_user.first_name %>! </div>
        </div>
      </div>
      <div class = 'col-sm-6 col-md-4'>
        <div class = 'grid-item' >
          <div class = 'grid-item-description'> <i class="fas fa-money-bill-alt fa-2x"></i> </div>
          <div class = 'grid-item-value'> <%= current_user.wallet %> € </div>
        </div>
      </div>
      <div class = 'col-sm-6 col-md-4'>
        <div class = 'grid-item' >
          <div class = 'grid-item-description'> <i class="fas fa-trophy fa-2x"></i> </div>
          <div class = 'grid-item-value'> <%= current_user.level %> 5 </div>
        </div>
      </div>
      <div class = 'col-sm-6 col-md-4'>
        <div class = 'grid-item' >
          <div class = 'grid-item-description'> Products for sale </div>
          <div class = 'grid-item-value'> <%= current_user.products.size %> </div>
        </div>
      </div>
      <div class = 'col-sm-6 col-md-4'>
        <div class = 'grid-item' >
          <div class = 'grid-item-description'> Products sold </div>
          <div class = 'grid-item-value'> <%= current_user.products.count{ |p| p.sale } %>
          </div>
        </div>
      </div>
      <div class = 'col-sm-6 col-md-4'>
        <div class = 'grid-item' >
          <div class = 'grid-item-description'> Products bought </div>
          <div class = 'grid-item-value'> <%= current_user.sales.count %> </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class = 'dashboard-wrapper-1'>
  <div class="container">
    <div class="row align-items-center">
      <div class = 'dashboard-header-1'>
        Products you bought
      </div>
      <% current_user.sales.each do |sale| %>
        <div class = 'col-xs-12 col-sm-12'>
          <div class = 'card-product-dashboard'>
            <div class = 'col-xs-3 col-sm-3 center'>
              <img src="<%= cl_image_path sale.product.picture %>" alt="Picture of Image" class = 'card-product-dashboard-image'>
            </div>
            <div class = 'col-xs-6 col-sm-6'>
              <div><%= sale.product.name %></div>
              <div>Seller: <%= sale.product.user.first_name %></div>
              <div><%= link_to "More Details", product_path(sale.product) %></div>
              <div><%= link_to "Add a review", new_product_sale_review_path(sale.product, sale) %></div>
            </div>
            <div class = 'col-xs-3 col-sm-3 center'>
              <div class = 'card-product-dashboard-price'> <%= sale.product.price %> € </div>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>

<div class = 'dashboard-wrapper-2'>
  <div class = 'container'>
    <div class="row">
      <div class = 'dashboard-header-2'>
        Your products for sale
      </div>
      <% current_user.products.each do |product| %>
        <div class = 'col-sm-12 col-md-4'>
          <a href="/products/<%= product.id %>" style = "text-decoration: none">
            <div class= 'card-product'>
              <div class = card-product-image style = "background-image: url(<%= cl_image_path product.picture %>);">
                </div>
              <div class = 'card-product-description'>
                <div class = 'card-product-description-name'> <%= product.name %></div>
                <div class = 'card-product-description-price'> <%= product.price %> € </div>
              </div>
            </div>
          </a>
        </div>
      <%end%>
    </div>
  </div>
</div>

