<div class = 'banner products'>
  <div class = dashboard-title>
    Your Dashboard
  </div>
</div>

<div class = 'grid-dashboard'>
  <div class = 'grid-item' >
    <div class = 'grid-item-description'> <i class="fas fa-smile fa-2x"></i> </div>
    <div class = 'grid-item-value'> Hello <%= current_user.first_name %>! </div>
  </div>

  <div class = 'grid-item'>
    <div class = 'grid-item-description'> <i class="fas fa-money-bill-alt fa-2x"></i> </div>
    <div class = 'grid-item-value'> <%= current_user.wallet_amount %> € </div>
  </div>

  <div class = grid-item>
    <div class = 'grid-item-description'> <i class="fas fa-trophy fa-2x"></i> </div>
    <div class = 'grid-item-value'> <%= current_user.level %> 5 </div>
  </div>

  <div class = 'grid-item'>
    <div class = 'grid-item-description'> For sale </div>
    <div class = 'grid-item-value'> <%= current_user.products.size %> </div>
  </div>

  <div class = 'grid-item'>
    <div class = 'grid-item-description'> Sold </div>
    <div class = 'grid-item-value'> 15 </div>
  </div>

  <div class = 'grid-item'>
    <div class = 'grid-item-description'> Bought </div>
    <div class = 'grid-item-value'> 15 </div>
  </div>
</div>

<div class = 'dashboard-wrapper-1'>
  <div class="container">
    <div class="row">
      <div class = 'dashboard-header-1'>
        Products you bought
      </div>
      <% current_user.sales.each do |sale| %>
        <div class = 'col-sm-12 col-md-4'>
          <a href="/products/<%= sale.product.id %>" style = "text-decoration: none">
            <div class= 'card-product'>
              <div class = card-product-image style = "background-image: url(<%= cl_image_path sale.product.picture %>);">

              </div>
              <div class = 'card-product-description'>
                <div class = 'card-product-description-name'> <%= sale.product.name %>  seller: <%= sale.product.user.first_name %> </div>
                <div class = 'card-product-description-price'> <%= sale.product.price %> € </div>
              </div>

            </div>
          </a>
        </div>
      <%end%>
    </div>
  </div>
</div>

<div class = 'dashboard-wrapper-2'>
  <div class = 'container'>
    <div class="row">
      <div class = 'dashboard-header-2'>
       Your products for sale
      </div>
      <% current_user.products.each do |product| %>
        <div class = 'col-sm-12 col-md-4'>
          <a href="/products/<%= product.id %>" style = "text-decoration: none">
            <div class= 'card-product'>
              <div class = card-product-image style = "background-image: url(<%= cl_image_path product.picture %>);">
            </a>
            <%= link_to "Add a review", new_product_sale_review_path(sale.product, sale) %>
          </div>
        <%end%>
         </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

