
<div class = 'banner'>
  <h1>Profile Page</h1>
</div>

<hr/>

<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-sm-4 col-xs-12'>
      <div class = 'grid-item profile-image' style = "background-image: url(<%= cl_image_path @user.profile_picture if @user.profile_picture? %>)" >
      </div>
    </div>
    <div class = 'col-sm-4 col-xs-12'>
      <div class = 'grid-item'>
        <div class = 'grid-item-description'>
          <h4> <%= @user.first_name %> </h4>
          <h4> <%= @user.last_name %> </h4>
        </div>
      </div>
    </div>
    <div class = 'col-sm-4 col-xs-12'>
      <div class = 'grid-item'>
        <div class = 'grid-item-description'>
          Level
        </div>
        <div class = 'grid-item-value'>
          <%= @user.level %>
        </div>
      </div>
    </div>
    <% if @user == current_user %>
      <div class = 'col-sm-4 col-xs-12'>
        <div class = 'grid-item'>
          <div class = 'grid-item-description'>
            Phone-Number
          </div>
          <div class = 'grid-item-profile-value'>
            <%= @user.phone_number %>
          </div>
        </div>
      </div>
      <div class = 'col-sm-4 col-xs-12'>
        <div class = 'grid-item'>
          <div class = 'grid-item-description'>
            Email-Address
          </div>
          <div class = 'grid-item-profile-value'>
            <%= @user.email %>
          </div>
        </div>
      </div>
      <div class = 'col-sm-4 col-xs-12'>
        <div class = 'grid-item'>
          <div class = 'grid-item-description'>
            Home Address
          </div>
          <div class = 'grid-item-profile-value'>
            <%= @user.address %>
          </div>
        </div>
      </div>
    <% end %>

    <div class = 'col-sm-12'>
      <div class = 'grid-item grid-item-rating'>
        <div class = 'grid-item-description'> Rating</div>
        <div class = 'grid-item-value'>
          <% @user.average.times do %>
            <i class="fas fa-star"></i>
          <% end %>
          <% (5 - @user.average).times do %>
            <i class="fal fa-star"></i>
          <% end %>
        </div>
      </div>
    </div>

    <% if @user == current_user %>
      <div class = 'col-sm-6'>
        <div class = 'grid-item grid-item-profile-options'>
          <% if policy(@user).destroy? %>
            <%= link_to 'Delete Profile', user_registration_path(@user), class: "button-banner-profile", method: :delete, data: { confirm: "Are you sure?, all will be deleted. You will lose all the money" }  %>
          <% end %>
        </div>
      </div>
      <div class = 'col-sm-6'>
        <div class = 'grid-item grid-item-profile-options'>
          <% if policy(@user).update?%>
            <%= link_to 'Edit Profile', edit_user_path(@user), class: 'button-banner-profile' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<hr/>

<div class = 'container'>
  <div class="row">
    <div class="col-md-12">
      <div class="user-description reviews">
        <h2>Reviews</h2>
        <%@user.products.each do |product| %>
          <%if product.sale && product.sale.review %>
            <ul class="review-list">
              <li>
                <% if product.pictures.any? %>
                  <img src="<%= cl_image_path product.pictures[0] %>" alt="" class="product-review-pic">
                <% else %>
                    <i class = "<%= product.category_icon %>"> </i>
                <% end %>
                <%= product.name %> :
                <% product.sale.review.rating.times do   %>
                  <i class='fas fa-star'></i>
                <%end %>
                <% (5 - product.sale.review.rating).times do %>
                  <i class='far fa-star'></i>
                <% end %>
               -- <%= product.sale.review.description %>
              (<%= product.sale.review.user.first_name %>)
              <%end %>
            </li>
          </ul>
        <%end %>
      </div>
    </div>
  </div>
</div>



