<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= @user.first_name %>
      <br>
      <%= @user.last_name %>
      <br>
      <%= @user.profile_description %>
      <br>
      <%= @user.address %>
      <%= @user.phone_number %>
      <%= @user.average %>
      <% @user.products.each do |product| %>
        <% if product.sale && product.sale.review %>
          <%= product.sale.review.description %>  <%= product.sale.review.rating %>
        <% end %>
      <% end %>

      <%= link_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-primary' %>
    <img src="<%= cl_image_path @user.profile_picture if @user.profile_picture? %>" alt="">
    </div>
  </div>
</div>
