

<div class = 'banner products'>
  <h1> Quick Sell </h1>
  <h3>
    <span id="banner-typed-text"></span>
  </h3>

  <div class='new-form'>
    <%= form_tag products_path(anchor: 'list'), method: :get do %>
      <% if user_signed_in? %>
        As far as <%= select_tag :km, options_for_select(["", "1", "5", "10", "15", "20", "50"])%> km in:
      <% end %>
      <%= select_tag :category, options_for_select([ "Books and Magazine", "Movies and Video Games", "High-Tech","Toys and Youth","House and Pets","Beauty and Wellbeing","Retail", "Clothing and Fashion", "Sport and Leisure", "Cars and Mechanics", "Handmade"].sort), include_blank: true%> <i class="fas fa-tags"></i> <br>
      <%= submit_tag "Find Your Happiness", class: "button-banner-search button-margin"%>
    <% end %>
  </div>
</div>

<hr/>

<div class = 'container'>
  <h3> Random Stuff </h3>
  Sort by :
  <%= form_tag products_path(anchor: 'list'), method: :get do %>
  <%= select_tag :sort, options_for_select(["Price Ascending", "Price Descending", "Name", "Rating", "Distance"].sort), include_blank: true%>
  <%= submit_tag "Sort"%>
  <% end %>
  <div class = 'row' id='list'>
    <% @products.each do |p| %>
      <% if p.status == "for-sale" %>
        <div class = 'col-sm-12 col-md-6'>
          <a href="/products/<%= p.id %>" style = "text-decoration: none">
            <div class= 'card-product'>
              <% if p.pictures.any? %>
                <div class = card-product-image style = "background-image: url(<%= cl_image_path(p.pictures.first.url, :width => 600, :crop => "pad") %>);">
                </div>
              <% else %>
                <div class = "card-product-image">
                  <div class = "card-icons" >
                    <i class = "<%= p.category_icon %>"> </i>
                  </div>
                </div>
              <% end %>

              <div class = 'card-product-description'>
                <% if user_signed_in? %>
                  <div class="card-product-distance">
                    <%=  p.distance_from(current_user.address) ? "#{p.distance_from(current_user.address).round(2)} km" : "" %>
                  </div>
                <% end %>
                <div class = 'card-product-description-name'> <%= p.name %> </div>
                <div class = 'card-product-description-price'> <%= p.price %> € </div>
              </div>
            </div>
          </a>
        </div>
      <%end%>
    <%end%>
  </div>
</div>

