
<div class = 'banner products'>
  <h1> Results</h1>
</div>

<div class = 'container'>
  <div class = 'row' id='list'>
    <div class='col-md-8 col-md-offset-3'>
      <div class='new-form'>
      <%= form_tag products_path(anchor: 'list'), method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          placeholder: "Find a product",
          class: 'form-controle'
        %>
        <%= select_tag :category, options_for_select([ "Books and Magazine", "Movies and Video Games", "High-Tech","Toys and Youth","House and Pets","Beauty and Wellbeing","Retail", "Clothing and Fashion", "Sport and Leisure", "Cars and Mechanics", "Handmade"].sort), include_blank: true%>
        <%= submit_tag "Find Your Happiness", class: "btn btn-primary"%>
      <% end %>
      </div>
    </div>

    <% @products.each do |p| %>
      <% if p.status == "for-sale" %>
        <div class = 'col-sm-12 col-md-6'>
          <a href="/products/<%= p.id %>" style = "text-decoration: none">
            <div class= 'card-product'>
              <div class = card-product-image style = "background-image: url(<%= cl_image_path p.pictures.first.url if p.pictures.first %>);">

              </div>
              <div class = 'card-product-description'>
                <div class = 'card-product-description-name'> <%= p.name %> </div>
                <div class = 'card-product-description-price'> <%= p.price %> € </div>
              </div>
            </div>
          </a>
        </div>
      <%end%>
    <%end%>
  </div>
</div>

