<% content_for :meta_title, "#{@product.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @product.description %>
<% content_for :meta_image, cl_image_path(@product.pictures) if @product.pictures.any? %>

<% if @product.pictures.any? %>
  <div class="container slideshow-container">
    <div class = 'row'>
      <% @product.pictures.each_with_index do |picture, index| %>
        <div class="mySlides" style = "background-image: url(<%= cl_image_path picture.url %>);">
          <div class="numbertext"> <%= index %> / <%= @product.pictures.size - 1 %> </div>
        </div>
      <% end %>

      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>

      <div class="caption-container">
        <% if @product.user == current_user %>
          <%= link_to "<i class='fas fa-trash-alt'></i>".html_safe, product_picture_path(@product), class: "button-product-image", method: :delete, data: { confirm: "Are you sure? Picture won't appear anymore" }  %>
          <%= link_to "<i class='fas fa-plus-square'></i>".html_safe, new_product_picture_path(@product), class: "button-product-image" %>
        <% end %>
      </div>
    </div>

    <div class="row" style="display: flex; justify-content: flex-start;">
      <% @product.pictures.each_with_index do |picture, index| %>
        <div class="column cursor demo" style="background-image: url(<%= cl_image_path picture.url %>); width: 8%" onclick="currentSlide(1)" alt="Picture">
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="container product-information">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class = 'product-show-details'>
        <i class="fal fa-money-bill-alt fa-3x logo-product-detail"></i>
        <p><%= @product.price %> €</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class = 'product-show-details'>
        <button id="myBtn">
          <i class="fal fa-map-marker-alt fa-3x logo-product-detail"></i>
          <p><%= @product.pickup_address %></p>
        </button>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class = 'product-show-details'>
        <i class="fal fa-clock fa-3x logo-product-detail"></i>
        <p><%= @product.pickup_time.strftime("%d/%m/%Y") %></p>
        <p><%= @product.pickup_time.strftime("%I:%M%p") %></p>
      </div>
    </div>

    <div class = 'row'>
      <div class = 'col-xs-12 col-sm-12 center'>
        <% if @product.status == "for-sale" && @product.user != current_user %>
          <%= form_tag product_sales_path(@product, @sales) do %>
            <%= hidden_field_tag 'product_id', @product.id, method: :post %>
            <%= submit_tag 'Purchase', class: 'button' %>
          <% end %>
        <% else %>
          <button class = 'button-alternative'>Purchase</button>
        <% end %>
      </div>
    </div>

    <% if @product.user == current_user %>
      <div class="row">
        <div class="col-sm-12">
          <div class = 'options-product-show'>
            <div>
              <%= link_to "Edit",edit_product_path(@product), class: 'button-banner-profile' %>
            </div>
            <div>
              <%= link_to "Delete", product_path(@product), class: 'button-banner-profile', method: :delete, data: { confirm: "Are you sure you want to delete this product?" } %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>

<hr/>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class = 'product-information'>
        <h2>Description</h2>
        <h5>Category:  <%= @product.category %> <i class = "<%= @product.category_icon %>"></i></h5>
        <%= @product.description %>
      </div>
    </div>
  </div>
</div>

<hr/>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class = 'product-information'>
        <div class="col-sm-3 col-sm-offset-1">
          <%= link_to cl_image_tag(@product.user.profile_picture, class: "profile-picture-avatar"), user_path(@product.user) %>
        </div>
        <div class="col-sm-7">
          <h4>Owner : <%= @product.user.first_name %>
          <%= @product.user.last_name %></h4>

          <p> <%= @product.user.profile_description %> </p>
          <% @product.user.average.times do %>
            <i class="fas fa-star"></i>
          <% end %>
          <% (5 - @product.user.average).times do %>
            <i class="far fa-star"></i>
          <% end %>
          <%= form_for [@chat_room] do |f| %>
            <%= f.text_field :recipient_id, value: @product.user.id, type: "hidden" %>
            <%= f.text_field :sender_id, value: current_user.id, type: "hidden" %>
            <%= f.submit "Send Message", class: "button-small" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  var slideIndex = 1;
  showSlides(slideIndex);

  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    var captionText = document.getElementById("caption");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    captionText.innerHTML = dots[slideIndex-1].alt;
  }

</script>


<div id="myModal" class="modal">
  <div style="height: 400px; width: 400px; " class="modal-content">
    <span class="close">&times;</span>
  <div
    id="map"
    style="height: 400px;"
    data-marker="<%= @markers.to_json %>"
  ></div>
  </div>
</div>
