<div class="container">
  <div class="row">
    <div class="col-md-6">
      <a href="/products/<%= @product.id %>" style = "text-decoration: none">
        <div class= 'card-product'>
          <div class = card-product-image style = "background-image: url(<%= cl_image_path @product.pictures[0] %>);">

          </div>
          <div class = 'card-product-description'>
            <div class = 'card-product-description-name'> <%= @product.name %> </div>
            <div class = 'card-product-description-price'> <%= @product.price %> € </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <a href="/users/<%= @product.user.id %>" style = "text-decoration: none">
        <div class= 'card-product'>
          <div class = card-product-image style = "background-image: url(<%= cl_image_path @product.user.profile_picture if @product.user.profile_picture %>);">

          </div>
          <div class = 'card-product-description'>
            <div class = 'card-product-description-name'> <%= @product.user.first_name %> </div>
            <div class = 'card-product-description-price'> <%= @product.user.average %> </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-8 col-md-offset-2">
      <h3> Please rate the transaction on this object with this user </h3>
      <%= simple_form_for [@product, @sale, @review] do |f| %>
        <%= f.input :rating %>
        <%= f.input :description %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>

